@model DataProvider.Film
<div>
    <label asp-for="Title" class="col-md-2"></label>
    <div>@Model.Title</div>

    <label asp-for="OpeningCrawl" class="col-md-2"></label>
    <div>@Model.OpeningCrawl</div>
</div>