@model FilmViewModel

@{
    ViewData["Title"] = "Film View";
}

<h2>Film View Using Tag Helper</h2>

<film-detail asp-for="Film"></film-detail>

<h2>Film View Using View Component</h2>

<vc:film-detail film="@Model.Film"></vc:film-detail>