@{
    ViewData["Title"] = "Home Page";
}

<h2>Tag Helpers/ViewComponents</h2>
<a asp-action="FilmView" asp-route-filmId="1">View Single Film</a><br />
<a asp-action="FilmListing">View Film Listing</a>