@{
    ViewData["Title"] = "Home Page";
}

<h2>Tag Helpers/ViewComponents</h2>
<a asp-action="FilmView" asp-route-filmId="1">View Single Film</a>
<a asp-action="FilmListing" asp-route-filmId="1">View Film Listing</a>